<main id="connect">
  <h1>SSC</h1>
  <h2>Connecting You</h2>
  <div class="user">
        <% @users.each do |user| %>
            <div>
                <figure>
                    <%= image_tag user.image if user.image.attached? %>
                </figure>
                <section>
                    <h3><%= user.name %></h3>
                    <% if user.student? %>
                        <h3>Student</h3>
                    <%else%>
                        <h3>Tutor<h3>
                    <% end %>   
                    <h3>Subjects:<% user.subjects.each do |i| %></h3>
                        <p><%= i[:name] %></p>    
                    <% end %>
                </section>
            </div>    
            <% end %>
  </div>
</main>

