<h1>Tutor Form</h1>
<p>Note: to become a tutor on Student Study Connect a one off payment of $5 is required in order to continue.</p>
<%= render "tutor_form", tutor: @tutor, availabilities: @availabilities %>