<main id="home">
  <% if user_signed_in? %> 
    <%= render "/nav_bar" %>
  <% end %>
  <div>
    <h1>Student Study Connect</h1>
    <p>
        Welcome, <%= current_user.name if user_signed_in? %>
    </p>
    <p class="about">
        Student Study Connect has the primary goal of connecting students with other
        students and tutors in the subjects they need. Whether its the forming of a study
        group or connecting you with a teacher SSC is the place for you!
    </p>
  </div>
  <div class="links">
    <%= link_to(users_path) do %>
    <div><h2>Connect</h2></div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to(user_profile_path(current_user)) do %>
      <div><h2>Profile</h2></div>
      <% end %>
    <% end %>
  </div>  
</main>