#home {
    text-align: center;
    background-image: url(image-path("home/students_pic.jpg"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(114, 34, 34, 0.5);
    height: 100vh;

    div{
        h1 {
            color: rgba(118, 54, 38, 0.85);
            background-color: rgba(42, 49, 50,0.95); 
        }

        p {
            width: max-content;
            margin: auto;
            color: rgba(118, 54, 38, 0.85);
            background-color: rgba(42, 49, 50,0.95); 
            font-size: 1.5rem;
        }

        .about {
            max-width: 65vw;
            margin: auto;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 85vh;

        a {
            text-decoration: none;
            div {
                color: rgb(255, 255, 255);
                background-color: rgba(0, 0, 0, 0.75);
                height: 25vh;
                width: 25vh;
                border-radius: 100%;
                display:flex;
                align-items:center;
                justify-content:center;
                margin-bottom: 25px;
                margin-top: 25px;

                h2 {
                    font-size: 3em;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #home{

        div {
            p {
                font-size: 1.2rem;
            }
        }

        .links{
            height: 65vh;
            align-self: center;    
            flex-direction: row;
            justify-content: space-evenly;

               a {
                    div {
                    height: 35vh;
                    width: 15vw;

                        h2 {
                            font-size: 2em;
                        }
                    }
               }
        }
    }
}
