#home {
    text-align: center;
    background-image: url(image-path("home/students_pic.jpg"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(114, 34, 34, 0.5);

    div{
        p {
            background-color: rgba(114, 34, 34, 0.5);
            color: rgba(255,255,255,0.5); 
        }

        .about {
            max-width: 65vw;
            margin: auto;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div {
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.75);
            height: 25vh;
            width: 20vw;
            border-radius: 100px;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-bottom: 25px;
            margin-top: 25px;
          }
      }
  }