#connect {
    text-align:center;
    height: 100vh;
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .user {
        height: inherit;
        div {
            margin: auto;
            width: 60%;
            height: 40%;
            display:flex;

            figure {
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

  @media only screen and (min-width: 1024px) {
      #connect{
          .user { 
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: initial;
            div{
                width: 25%;
                margin: 0;
                display: block;
            }
          }

      }
  }
  
